.country-details-container{
  max-width: 1200px;
  margin-inline: auto;
  margin-top: 32px;
}

.back-button {
  padding: 8px 24px;
  box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

.country-details {
  display: flex;
  align-items: center;
  gap: 64px;
  margin-top: 64px;
}

.country-details img {
  width: 40%;
  border: 1px solid #6c6c6c;
  border-radius: 15px;
}

.details-text{
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  column-gap: 184px;
  max-height: 200px;
  flex-wrap: wrap;
}

.details-text p {
  margin: 0px;
}

.border-countries{
  margin-top: 48px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.border-countries a {
  padding: 4px 18px;
  box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  font-size: 14px;
}

@media(max-width: 650px) {
  .country-details {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 32px;
    gap: 16px;
  }

  .details-text {
    max-height: unset;
  }
  
  .country-details img {
    width: 80%;
    max-width: 500px;
  }
}