* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Nunito, sans-serif;
}

a {
  text-decoration-line: none;
  color: inherit;
}

main {
  padding: 24px;
}

.title {
  font-weight: 800;
}

.header-container{
  box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.2);
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding-inline: 24px;
  justify-content: space-between;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin-inline: auto;
}

.search-filter-container{
  margin-top: 16px;
  margin-bottom: 48px;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin-inline: auto;
  gap: 24px;
}

.search-container{
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.1);
  max-width: 350px;
  width: 100%;
  border-radius: 6px;
  padding-left: 24px;
  color: #949494;
  overflow: hidden;
}

.search-container input {
  border: none;
  outline: none;
  padding: 16px;
  font-size: 18px
}

.search-container input::placeholder {
  color: #949494;
  font-size: 16px;
}

.filter-by-region{
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  width: 200px;
  padding:  16px;
  border: none;
  outline: none;
}

.countries-container {
  max-width: 1200px;
  margin-inline: auto;
  margin-top: 16px;
  display: flex;
  gap: 64px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.country-card{
  display: inline-block;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.1);
  width: 250px;
  overflow: hidden;
  border-radius: 8px;
  padding-bottom: 24px;
  transition: all 0.2s ease-in-out;
}

.country-card:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.1);
}


.card-title{
  font-size: 22px;
  margin-block: 16px;
}

.card-text {
  padding: 16px;
}

.card-text p{
  margin-block: 6px;
}

.country-card img {
  width: 100%;
}

@media (max-width: 650px) {
  .countries-container {
    gap: 24px;
    justify-content: center;
  }

  .search-filter-container{
    flex-direction: column;
  }

  .search-container{
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    border-radius: 6px;
    padding-left: 20px;
  }
  
  .search-container input {
    border: none;
    outline: none;
    padding: 10px;
    font-size: 18px
  }
  
  .search-container input::placeholder {
    color: #949494;
    font-size: 14px;
  }

  .filter-by-region{
    padding: 10px;
  }

  .title {
    font-size:  20px;
  }

  .header-content p {
    font-size: 16px;
  }
}