body {
  margin: 0;
  display: flex;
  /* align-items: center;
  justify-content: center; */
  height: 80vh;
  background-color: rgb(42, 42, 42);
  color: rgb(165, 237, 255);
  padding-left: 32px;
}

h1 {
  font-size: 4rem;
}

span {
  color: rgb(255, 106, 48);
  display: inline-flex;
  align-items: center;
}

span::after{
  content: '';
  width:4px;
  height:55px;
  background-color: rgb(255, 106, 48);
  display: inline-block;
  margin-left: 4px;
}
