* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

select, input, button {
  font: inherit;
  padding: 6px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 400px;
  margin-inline: auto;
}

button {
  cursor: pointer;
}