* {
  box-sizing: border-box;
}

body {
  background-color: #adadad;
  font-family: cursive;
}

button {
  background-color: #333;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  transition: all 0.5s ease-in-out;
}

button:hover {
  background-color: #ff6b6b;
  color: white;
  transform: scale(1.05);
  box-shadow: 0 14px 18px rgba(0, 0, 0, 0.3);
}

.popup {
  width: 500px;
  height: auto;
  background-color: white;
  border-radius: 16px;
  position: fixed;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  padding: 20px;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.5s ease-in-out;
  top: 0;
  left: 0;
}

.popup h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
  text-align: center;
}

.popup p {
  font-size: 16px;
  color: #555;
  text-align: center;
  margin-bottom: 20px;
  line-height: 1.5;
}

.popup-open .popup {
  transform: scale(1);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.close-icon {
  height: 30px;
  width: 30px;
  margin: 0;
  border-radius: 50%;
  background-color: #333;
  font-size: 24px;
  font-weight: 700;
  color: white;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.5s ease-in-out;
}

.close-icon:hover {
  background-color: #ff6b6b;
  color: white;
  transform: scale(1.2);
}

.overlay {
  display: none;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.popup-open .overlay {
  display: block;
}
