*{
  box-sizing: border-box;
}

body{
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

button {
  padding: 10px 16px;
  background-color: cyan;
  border: 1px solid grey;
  border-radius: 4px;
  font-size: 1rem;
}