* {
  box-sizing: border-box;
}

body {
  /* text-align: center; */
  font-family: 'Roboto', sans-serif;
  padding: 16px 32px;
  color: #363636;
}

body.dark{
  background-color: #27292d;
  color: rgb(209, 209, 209);
}

h1 {
  margin-bottom: 48px;
}

.container {
  border: 1px solid blue;
  padding: 32px;
  margin-top: 16px;
  background-color: white;
  color: #363636;
}

.container.dark{
  background-color: #27292d;
  color: rgb(209, 209, 209);
}