* {
  box-sizing: border-box;
}

body {
  /* text-align: center; */
  font-family: 'Roboto', sans-serif;
  background-color: #d8d8d8;
  padding: 16px 32px;
  color: #363636;
  transition: 0.3s;
}

body.dark{
  background-color: #1f1f1f;
  color: rgb(209, 209, 209);
  transition: 0.3s;
}

 label {
  display: inline-block;
  padding: 4px 6px;
  background-color: #353535;
  border: 1px solid #1f1f1f;
  border-radius: 50px;
  font-size: 1.2rem;
  cursor: pointer;
  transition:0.5s;
}

label:hover {
  background-color: #858585;
  border-color: #858585;
}

input {
  visibility: hidden;
}

h1 {
  margin-bottom: 48px;
}

.container {
  border: 1px solid #1f1f1f;
  padding: 32px;
  margin-top: 16px;
  background-color: rgb(202, 202, 202);
  color: #363636;
  transition: 0.5s;
  border-radius: 10px;
}

.container.dark{
  background-color: #363636;
  color: rgb(209, 209, 209);
  transition: 0.5s;
  border: 1px solid white;
}